.nav-link.active{
  color:#007bff;
  background-color:#fff;
  border-color:#dee2e6 #dee2e6 #fff}

.nav-link{
  color:#495057;
  background-color:#fff;
  border-color:#dee2e6 #dee2e6 #fff}

.navbar .nav-item .nav-link{
    color:#495057;
    background-color: #343a40;
}

.navbar .nav-item .nav-link:hover{
    color:#fff;
}