
{% extends "base.html" %}

{% block content %}
<h1>Page de connexion</h1>
<form action="/auth/login" method="POST">
    <p>
        <label for="username">username : </label>
        <input type="text" name="username" id="username" required>
    </p>
    <p>
        <label for="password">Mot de passe : </label>
        <input type="password" name="password" id="password" required>
    </p>
    <p>
        <input type="submit" value="Envoyer le formulaire">
    </p>
</form>
    <a href="{{ url_for('auth_bp.singup') }}"> S'inscrire </a>

{% endblock %}