
    <form action="/auth/login" method="post">


        <input type="submit" value="Se connecter">
    </form>
</body>


{% extends "base.html" %}

{% block content %}
<h1>Page de connexion</h1>
<form action="{{ url_for('traitement') }}" method="POST">
    <p>
        <label for="username">username : </label>
        <input type="text" name="username" id="username" required>
    </p>
    <p>
        <label for="password">Mot de passe : </label>
        <input type="password" name="password" id="password" required>
    </p>
    <p>
        <input type="submit" value="Envoyer le formulaire">
    </p>
</form>
{% endblock %}