{% extends "base.html" %}
{% block nav_bar %}
     <nav id="navbar">
        <img src="{{ url_for('static', filename='img/img.png') }}" alt="logo" width="50">
        <ul id="navbar-items">
            <li class="navbar-item">
                <a href="{{ url_for('index') }}">Accueil</a>
            </li>

             <li class="navbar-item">
                <a href="{{ url_for('somme_des_chiffres.request_sum_of_didgit') }}">Sommes des chiffres</a>
            </li>

            <li class="navbar-item">
                <a href="{{ url_for('the_good_page.jeu') }}">Nombre mystère</a>
            </li>
            <li class="navbar-item">
                <a href="{{ url_for('pdf_download.upload_pdf') }}">How many word in my pdf</a>
            </li>

            </li>
                <li class="navbar-item">
                    <a href="{{ url_for('statistiques.top_users_view') }}">Statistiques</a>
            </li>


            <li class="navbar-item login-logout">
                {% if session['user_id'] %}
                    <a href="{{ url_for('auth_bp.logout') }}">
                            {{ session['user_id'] }}
                    </a>
                {% else %}
                    <a href="{{ url_for('auth_bp.login') }}">Se connecter</a>
                {% endif %}
            </li>
        </ul>
    </nav>

{% endblock %}