{% extends "base.html" %}

{% block content %}

    <h1 class="h2">Dashboard</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
            <form method="POST">
                <select name="data_type">
                    <option value="game_sessions">Sessions de Jeu</option>
                    <option value="help_requests">Requetes d'Aide</option>
                </select>
                <input type="submit" value="Visualiser">
            </form>
        </div>

        <button class="btn btn-sm btn-outline-secondary">Share</button>
        <button class="btn btn-sm btn-outline-secondary">Export</button>
    </div>
    <div class="my-4 chartjs-render-monitor" id="myChart" style="display: block">
        {{ graph_html|safe }}
    </div>


{% endblock %}