{% extends "base.html" %}

{% block content %}
    <head>
        <title>Téléchargement PDF et Comptage de Mots</title>
    </head>
    <body>
        <h2>Téléchargement de fichier PDF</h2>
        <form action="/upload_pdf" method="post" enctype="multipart/form-data">
            <label for="pdf">Choisir un fichier PDF :</label>
            <input type="file" name="pdf" id="pdf" accept=".pdf">
            <input type="submit" value="Uploader et Compter les Mots">
        </form>
        {% if message == "Ok" %}
            <p>Voici le nombre de mots dans ton pdf : {{ session['words_pdf'] }}</p>
        {% else %}
            <p> {{ message }}</p>
        {% endif %}

    </body>
{% endblock %}